# --- DEPENDÊNCIAS ---
node_modules/

# --- BUILD ---
dist/
build/

# --- AMBIENTE ---
.env
.env.development.local
.env.production.local
.env.test.local
.env.local

# --- CACHE ---
.cache/
.vite/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# --- EDITOR / IDE ---
.vscode/
.idea/

# --- SO / TEMP ---
.DS_Store
Thumbs.db
*.log

# --- IMAGENS E ARTEFATOS GERADOS ---
*.png.tmp
*.jpg.tmp

# --- ANTD / LESS CACHE (se usar custom theme) ---
.ant-design-cache/

# --- STORYBOOK (se usar) ---
storybook-static/

# --- TESTES ---
jest-cache/
jest-results.json